$dropdown-menu-item-color: #15181c !default;
$dropdown-menu-item-hover-color: $secondary !default;
$dropdown-menu-item-hover-background: rgba(101, 179, 174, 0.3);

$dropdown-menu-background: #cbe9e7;

// These styles extend the default Bootstrap styles
.dropdown-menu {
  border-bottom: 1px solid #e2e5ec;
  border-left: 1px solid #e2e5ec;
  border-radius: 12px !important;
  border-right: 1px solid #e2e5ec;
  border-top: none;
  // box-shadow: $box-shadow;
  padding: 10px;
  width: 100%;
  background-color: $dropdown-menu-background;

  &.center {
    @media (min-width: 992px) {
      left: 50%;
      transform: translateX(-50%);
    }
  }

  &.right {
    left: auto;
    right: 0;
  }

  .nav-item & {
    // border-top-left-radius: 0 !important;
    // border-top-right-radius: 0 !important;
    top: 45px;

    // .dropdown-item:first-child {
    //   border-top-left-radius: 0;
    //   border-top-right-radius: 0;
    // }
  }

  &.exponention-dropdown {
    width: 100px;
    min-width: 100px;
  }
}

.dropdown-item {
  color: $dropdown-menu-item-color;
  font-size: 12px;
  padding: 15px 15px;
  transition: $transition-cont;
  white-space: initial;
  border-radius: 6px;
  position: relative;
  &[target='_blank']{
    padding-right: 20px;
    &:after{
      content: url("data:image/svg+xml,%3Csvg width='20' height='20' viewBox='0 0 20 20' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M13 8.5L9 8.5C7.89543 8.5 7 9.39543 7 10.5L7 14' stroke='%2315181C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M12 6L14.5 8.5L12 11' stroke='%2315181C' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E%0A");
      width: 20px;
      height: 20px;
      position: absolute;
      right: 5px;
      top: 50%;
      transform: translateY(-50%);
    }
  }

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  & {
    &.active,
    &:hover,
    &:focus {
      background-color: $dropdown-menu-item-hover-background;
      color: $dropdown-menu-item-color;

      .external-link-icon {
        path {
          fill: $header-icon-color-hover;
        }
      }
    }
    &.active {
      font-weight: bold;
    }
    &:hover:not(.active) {
      background-color: rgba(101, 179, 174, 0.15);
    }
  }

  // &:first-child {
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  // }

  // &:last-child {
  //   border-bottom-left-radius: 2px;
  //   border-bottom-right-radius: 2px;
  // }

  &.header {
    &,
    &:hover,
    &:active {
      padding-left: 10px;
      background-color: #fff !important;
      cursor: default;
      color: #333;
      font-weight: 700;
    }
  }

  &.division {
    border-top: 1px solid $base-border-color;
  }
}

.navbar .dropdown-menu {
  border: none;
}

.dropdown-search-icon {
  color: $gray-300;
  left: 8px;
  pointer-events: none;
  top: 5px;
}

.dropdown-search-field {
  padding-left: 2rem;
}

.dropdown-toggle::after {
  // margin-left: 0.71em;
  margin-left: 8px;
  font-size: 12px !important;
}

.token-balance-dropdown {
  transform: none !important;
  top: 20px !important;
  left: unset !important;
  width: 300px !important;
}

.flex-grow-2 {
  flex-grow: 2;
}
