$dropdown-menu-item-color: #15181c !default;
$dropdown-menu-item-hover-color: $secondary !default;
$dropdown-menu-item-hover-background: rgba(101, 179, 174, 0.3);

$dropdown-menu-background: #cbe9e7;

// These styles extend the default Bootstrap styles
.dropdown-menu {
  border-bottom: 1px solid #e2e5ec;
  border-left: 1px solid #e2e5ec;
  border-radius: 12px !important;
  border-right: 1px solid #e2e5ec;
  border-top: none;
  // box-shadow: $box-shadow;
  padding: 12px;
  width: 100%;
  background-color: $dropdown-menu-background;

  &.right {
    left: auto;
    right: 0;
  }

  .nav-item & {
    // border-top-left-radius: 0 !important;
    // border-top-right-radius: 0 !important;
    top: 45px;

    // .dropdown-item:first-child {
    //   border-top-left-radius: 0;
    //   border-top-right-radius: 0;
    // }
  }

  &.exponention-dropdown {
    width: 100px;
    min-width: 100px;
  }
}

.dropdown-item {
  color: $dropdown-menu-item-color;
  font-size: 12px;
  padding: 15px 15px;
  transition: $transition-cont;
  white-space: initial;
  border-radius: 6px;

  &:not(:last-child) {
    margin-bottom: 2px;
  }

  & {
    &.active,
    &:hover,
    &:focus {
      background-color: $dropdown-menu-item-hover-background;
      color: $dropdown-menu-item-color;

      .external-link-icon {
        path {
          fill: $header-icon-color-hover;
        }
      }
    }
    &.active {
      font-weight: bold;
    }
  }

  // &:first-child {
  //   border-top-left-radius: 0;
  //   border-top-right-radius: 0;
  // }

  // &:last-child {
  //   border-bottom-left-radius: 2px;
  //   border-bottom-right-radius: 2px;
  // }

  &.header {
    &,
    &:hover,
    &:active {
      padding-left: 10px;
      background-color: #fff !important;
      cursor: default;
      color: #333;
      font-weight: 700;
    }
  }

  &.division {
    border-top: 1px solid $base-border-color;
  }
}

.navbar .dropdown-menu {
  border: none;
}

.dropdown-search-icon {
  color: $gray-300;
  left: 8px;
  pointer-events: none;
  top: 5px;
}

.dropdown-search-field {
  padding-left: 2rem;
}

.dropdown-toggle::after {
  margin-left: 0.71em;
  font-size: 12px !important;
}

.token-balance-dropdown {
  transform: none !important;
  top: 20px !important;
  left: unset !important;
  width: 300px !important;
}

.flex-grow-2 {
  flex-grow: 2;
}
